.icon {
    height: 22px;
    width: 22px;
    padding: 2px;
}

.filter {
    height: 48px;
    position: relative;
}

.filter span {
    padding: 8px;
}

.dropdown-content {
    top: 45px;
    position: absolute;
    left: -310px;
    height: auto;
}

.dropdown-content .filter-options {
    width: 150px;
}

.filter-options ul {
    list-style-type: none;
    padding: 0;
}
.filter-options li {
    height: 30px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 8px;
}
.filter-options li a {

}
