.icon {
    height: 30px;
    width: 22px;
    padding-top: 8px;
}

.filter {
    height: 48px;
    position: relative;
    padding: 8px;
}

.filter span {
    padding: 8px;
}

.dropdown-content {
    top: 53px;
    position: absolute;
    left: -304px;
    height: auto;
    background-color: white;
    z-index: 12;
    border: 1px solid rgba(0,0,0,0.24);
    padding: 8px;
    padding-left: 16px;
}

.dropdown-content .filter-options {
    width: 150px;
}

.filter-options ul {
    list-style-type: none;
    padding: 0;
}
.filter-options li {
    height: 30px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 8px;
}
.selected {
    background-color: #37B04C;
}

.menu .dots {
    width: 4px;
    border-radius: 10px;
    height: 4px;
    background-color: black;
    margin: 2px 0;
}
